{% extends "_base.html" %}
{% block content %}

<h1>Recomendador de peliculas SCAR</h1>

<h2>Selecciona el sistema de recomendador que prefieras</h2>
<!-- The navigation menu -->
<div class="navbar">
	<a href="{{ url_for('registro_home') }}">Registro</a>
	<a href="{{ url_for('demografico') }}">Demográfico</a>
	<a href="{{ url_for('colaborativo') }}">Colaborativo</a>
	<a class="active" href="{{ url_for('hibrido') }}">Híbrido</a>
</div>
<form action="/rec_hybrid" method="POST">

	Usuario existente con user_id:
	<input type="number" id="user_id" name="user_id" step=" 1" pattern="\d+" />
	<br><br>
	<input type="submit" value="Recomienda!">
	<div id='info_section' style="text-align:center">
		<div class="img-with-text" style="display: inline-block;">
			<img src="{{ data.rec_one }}" alt="{{ data.title_one }}" width="500"
			height="600">
			<p>Ratio {{ data.rating_one }}</p>
		</div>
		<div class="img-with-text" style="display: inline-block;">
			<img src="{{ data.rec_two }}" alt="{{ data.title_two }}" width="500"
			height="600">
			<p>Ratio {{ data.rating_two }}</p>
		</div>

		<div class="img-with-text" style="display: inline-block;">
			<img src="{{ data.rec_three }}" alt="{{ data.title_three }}" width="500"
			height="600">
			<p>Ratio {{ data.rating_three }}</p>
		</div>

		<div class="img-with-text" style="display: inline-block;">
			<img src="{{ data.rec_four }}" alt="{{ data.title_four }}" width="500"
			height="600">
			<p>Ratio {{ data.rating_four }}</p>
		</div>

		<div class="img-with-text" style="display: inline-block;">
			<img src="{{ data.rec_five }}" alt="{{ data.title_five }}" width="500"
			height="600">
			<p>Ratio {{ data.rating_five }}</p>
		</div>
	</div>
</form>

</form>

{% endblock %}
